body{

}
@font-face{
	font-family: 'MaPolicePerso';
	src : url('fonts/glyphicons-halflings-regular.eot') format('eot'),
		  url('fonts/glyphicons-halflings-regular.svg') format('svg'),
		  url('fonts/glyphicons-halflings-regular.ttf') format('ttf'),
		  url('fonts/glyphicons-halflings-regular.woff') format('woff'),
		  url('fonts/glyphicons-halflings-regular.woff2') format('woff');
}

#bloc-page{
	margin: auto;
	width: 1100px;
}

.en-tete{
	
	padding-right: 55px;
	padding-left: 55px;
}
section{
	padding-top: 20px;
}

.title-add-patient{
	padding-left: 20px;
	text-transform: uppercase;
}
.etoile{
	color: red;
}

h4{
	font-family: 'MaPolicePerso', Arial, serif;
}