body{
	background-image: url('../images/smiling-medical-worker.JPG');
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: top center;
}
#page-connexion{
}

.form-connexion{
	margin-top: 5%;
	margin-bottom: 5%;
}
.layout-form{
	padding-left: 55px;
	padding-right: 55px;
}

.espace{
	margin-bottom: 17px;
}

.pied{
	width: 100%;
	height: 45px;
	background: #ecf0f1;
	padding-top: 10px;
}

.licensed{
	padding-left: 25px;
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	color: #3498db;
}

.powerd-by{
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.powerd-by-name{
	padding-right: 25px;
	color: #3498db;

}